.message,
.btn {
  color: #000;
  font-size: 20;
  horizontal-align: center;
  padding:20;
}

.msg {
  font-size:30;
}

.msg2 {
  background-color:#7C3FE8;
  border-radius: 39;
  width:78;
  color:#fff;
  padding:30;
  text-align: center;
}

.msg3 {
  margin-top:50;
}

.msg4 {
  margin-top:100;
  font-size:18;
}
